/* RESET 
div {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #111;
}*/

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* For Firefox */
body {
  scrollbar-width: none; /* hides scrollbar but keeps scroll functionality */
  -ms-overflow-style: none;
}



.body-div,
.section,
.home-div {
  width: 100%;
}

.home-div {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-div > .text > h1 {
  color: #ffbd39;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
}

.home-div > .text > p {
  color: #ffffff;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
}

.home-div > .text > h1 > span {
  color: white;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: bold;
}

.text {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  order: 0;
}

.img-div {
  order: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

#typing-animation {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #ffbd39;
  overflow: hidden;
  white-space: nowrap;
  /* border-right: 3px solid #ffbd39;  blinking cursor */
  animation: typing 10s steps(50, end) infinite, blink 0.7s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  50% {
    width: 25ch;
  }
  100% {
    width: 0ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.linkedin-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #ffbd39;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: black !important;
  text-decoration: none !important;
  font-weight: bold;
}

.linkedin-button:visited,
.linkedin-button:active,
.linkedin-button:hover,
.linkedin-button:focus {
  color: black !important;
  background-color: #ffbd39 !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}

.projects-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff !important;
  text-decoration: none !important;
  font-weight: 100;
}

.text-button {
  width: 100%;
  background-color: transparent;
}

.text-para {
  font-size: 18px;
  line-height: 1.6;
  color: #939191;
}

@media (max-width: 600px) {
  .home-div {
    display: flex;
    justify-content: end;
    background-image: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh69tNQtHQcfofMa6txWfMoskFMj04WKNP7rvgqp2DMhReoI-XmcK2x1cnobftcQS5RZdnv1TcgPSsnASJqW8lpOEmzgH6_F_FrQnO398KnEmorNvC5m1bOrE3EM_ABblnZaha4sbJVBhME-Q5DjX0DLYN_ux6BKTRnwMe5nfCM3McuFx1SaX25089P/s663/vivek-removebg-preview.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 104px;
    flex-direction: column;
  }

  .img-div {
    display: none;
  }

  .text {
    width: 100%;
    text-align: center;
    margin-top: 65%;
  }
  .text p {
    text-align: start;
    margin-left: 14%;
  }

  .text-para {
    font-size: 8px;
    margin: 5%;
    display: none;
  }

  #forh {
    color: #dfc083;
    display: none;
  }

  .section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .home-div {
    display: flex;
  }
  .text {
    display: flex;
    width: 100%;
    align-items: start;
    margin-left: 8%;
  }
  .text h1 {
    font-size: 85px;
  }

    .text-para {
    font-size: 70%;
    margin: 5%;
  }

  .img-div img {
    width: 70%;
  }
}

@media (min-width: 1025px) {
  .section {
    padding-top: 5%;
  }
  .home-div {
    display: flex;
  }
  .text {
    display: flex;
    width: 100%;
    align-items: start;
    margin-left: 8%;
  }
  .text h1 {
    font-size: 90px;
  }

   .text-para {
    font-size: 90%;
  }

  .img-div img {
    width: 60%;
  }
}
