.rounded {
  border-radius: 50% !important;
  object-fit: cover; 
  width: 400px; 
  height: 400px;
  border: 5px solid white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.profile-section {
  text-align: center;
  padding-top: 20px;
}
.profile-details {
  text-align: start;
  margin-top: 20px;
  font-size: 18px;
  color: #939191;
}
.skills-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #939191;
}
.skills-list {
  list-style-type: none;
  padding: 2%;
  color: #939191;
}
.stars {
  display: inline-block;
  font-size: 20px;
  color: #ddd;
}

.stars.five::before {
  content: "★★★★★";
  color: #ffbd39;
}
.stars.four::before {
  content: "★★★★☆";
  color: #ffbd39;
}
.stars.three::before {
  content: "★★★☆☆";
  color: #ffbd39;
}
.stars.two::before {
  content: "★★☆☆☆";
  color: #ffbd39;
}
.stars.one::before {
  content: "★☆☆☆☆";
  color: #ffbd39;
}

.about-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
}

.about-description {
  position: relative;
}

.about-description h1.big {
  position: absolute;
  top: 25px;
  left: 0;
  font-size: 8vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  font-weight: 1000;
}

.about-title {
  position: relative;
  z-index: 2;
}
.about-text {
  font-size: 18px;
  line-height: 1.6;
  color: #939191;
  position: relative;
  z-index: 2;
}
.additional-info {
  margin-top: 30px;
}
.info-row {
  display: flex;
  margin-bottom: 10px;
}
.info-label {
  font-weight: bold;
  width: 20%;
  color: #ffffff;
}
.info-value {
  color: #939191;
  width: 80%;
  margin-left: 20px;
}

.linkedin-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffbd39;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: black !important;
  text-decoration: none !important;
  font-weight: bold;
}

.linkedin-button:visited,
.linkedin-button:active,
.linkedin-button:hover,
.linkedin-button:focus {
  color: black !important;
  background-color: #ffbd39 !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}

@media (max-width: 600px) {
  
   .about-container {
  padding-top: 5%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  
  .about-container {
  padding-top: 10%;
    display: flex;
    justify-content: center;
  }
  .profile-section {
    display: flex;
    text-align: center;
   
  }
  .rounded {
    margin-top: 19%;
    width: 150px;
    height: 150px;
  }
  .detail-item {
    margin: 5%;
  }
  .skills-section {
    margin-top: 20px;
    padding-left: 7%;
  }
  .about-description,.additional-info {
    padding-left: 7%;
    width: 70%;
  }
  .about-description h1.big {
    top: 20px;
    left: 8%;
    font-size: 5vw;
}

}

@media (min-width: 1025px) {
  
  .about-container {
    padding-top: 5%;
   padding-left: 5%;
    display: flex;
  }
  .profile-section {
    display: flex;
    text-align: center;
   
  }
  .rounded {
    width: 250px;
    height: 250px;
  }
  .detail-item {
    margin: 5%;
  }
  .skills-section {
    margin-top: 20px;
    padding-left: 7%;
  }
  .about-description,.additional-info {
    padding-left: 7%;
    width: 70%;
  }
  .about-description h1.big {
    top: 22px;
    left: 9%;
    font-size: 3vw;
}
}
