.projects-header {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  padding-top: 70px; 
  padding-bottom: 20px;
}

.projects-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
  position: relative;
  z-index: 2;
}

.projects-header h1.big {
  position: absolute;
  top: 80px;
  left: 16%;
  font-size: 8vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: 0;
  font-weight: 1000;
  font-size: 60px;
}

.projects-subtitle {
  font-size: 18px;
  line-height: 1.6;
  color: #939191;
  position: relative;
  z-index: 2;
  padding-top: 5%;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  width: 320px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  padding: 16px;
  text-align: center;
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-4px);
}

.project-video {
  width: 100%;
  border-radius: 10px;
  outline: none;
}
.project-videos {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}
.project-name {
  font-weight: 1000;
  color: #ffbd39;
  margin-bottom: 10px;
  font-size: 25px;
}

.project-description {
  color: #939191;
  font-size: 14px;
}

.projects-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffbd39;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: black !important;
  text-decoration: none !important;
  font-weight: bold;
}

.projects:visited,
.projects:active,
.projects:hover,
.projects:focus {
  color: black !important;
  background-color: #ffbd39 !important;
  text-decoration: none !important;
  outline: none !important;
  border: none !important;
}
.projects-p {
  margin-top: 20px;
  text-align: center;
}



@media (min-width: 601px) and (max-width: 1024px) {
  
  .projects-header h1.big {
    top: 80px;
    left: 35%;
    font-size: 7vw;
  }
}

@media (min-width: 1025px) {
  
  .projects-header h1.big {
    top: 80px;
    left: 40%;
    font-size: 5vw;
  }
}
